[core]
	safecrlf = true
	autocrlf = false
	quotepath = false
[commit]
	gpgsign = true
[user]
	email = tanekliang@gmail.com
	name = Yongxiang Liang
	signingkey = 5A9020DE819944FB557550F1530163CFEC309530
[color]
	ui = auto
[init]
	defaultBranch = master
[http]
	proxy = http://127.0.0.1:8118
[https]
	proxy = https://127.0.0.1:8118
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
